In [84]:

import pyforest

In [85]:
dataset=pd.read_csv(R"C:\Users\Sri_Harshitha\Downloads\advertising.csv")

In [86]:
dataset.head(5)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [87]:

dataset.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [88]:

dataset.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [89]:

dataset.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [90]:

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [91]:

dataset.shape

(200, 4)

In [92]:
from sklearn.preprocessing import StandardScaler

In [93]:
scaled_data=StandardScaler().fit_transform(dataset)

In [94]:
dataset=pd.DataFrame(scaled_data,columns=dataset.columns)

In [95]:
dataset

           TV     Radio  Newspaper     Sales
0    0.969852  0.981522   1.778945  1.322319
1   -1.197376  1.082808   0.669579 -0.897515
2   -1.516155  1.528463   1.783549 -0.593948
3    0.052050  1.217855   1.286405  0.259834
4    0.394182 -0.841614   1.281802  0.525455
..        ...       ...        ...       ...
195 -1.270941 -1.321031  -0.771217 -1.428757
196 -0.617035 -1.240003  -1.033598 -0.214489
197  0.349810 -0.942899  -1.111852 -0.062706
198  1.594565  1.265121   1.640850  1.967398
199  0.993206 -0.990165  -1.005979  0.620320

[200 rows x 4 columns]

In [96]:
x=dataset.drop(["Sales"],axis=1)
y=dataset["Sales"]

In [97]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.70,random_state=42)

In [98]:

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [99]:
from sklearn.metrics import r2_score
print("r2 score", r2_score(y_test,y_pred))
print("Percentage of r2_score:",r2_score(y_test,y_pred)*100)

r2 score 0.9037625365660457
Percentage of r2_score: 90.37625365660456